.preview-wrapper {
  position: relative;
  height: 100%;
}

.preview-wrapper iframe {
  background-color: white;
  height: 100%;
}

/* add a pseudo-element ONLY when dragging */
/* this helps handle the drag event and resize issue */
.react-draggable-transparent-selection .preview-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}